In [5]:
import pandas as pd

In [15]:
url = "https://www.data.gouv.fr/fr/datasets/r/e455db41-28c2-419d-bdf1-d44635fdc97e"
df = pd.read_csv(url, sep=";")

In [16]:
# Afficher les premières lignes du jeu de données
print(df.head())

                                           operateur  annee      filiere  \
0          Centrale électrique Vonderscheer de Ville   2011  Electricité
1  Coopérative d'électricité de Saint Martin de L...   2011  Electricité
2                                             Enedis   2011  Electricité
3                                             Enedis   2011  Electricité
4                                             Enedis   2011  Electricité

     consoa  pdla  nombre_maille_secretisees_a  indquala     consoi  pdli  \
0      0.00     0                            0     0.000     271.00     4
1   1414.68    22                            0     1.000   15865.01    66
2   6496.52    70                            0     0.934  510119.99   501
3  12493.80   127                            0     0.887  318256.95   575
4  62161.03  1231                            0     0.978  292151.22   791

   nombre_maille_secretisees_i  ...  pdlna  nombre_maille_secretisees_na  \
0                            0  ...      0                             0
1                            0  ...     17                             0
2                            0  ...     24                             0
3                            0  ...     42                             0
4                            0  ...     93                             0

   indqualna  code_departement  libelle_departement  code_region  \
0      0.000                67             Bas-Rhin           44
1      1.000                34              Hérault           76
2      0.930                08             Ardennes           44
3      0.821                12              Aveyron           76
4      0.707                17    Charente-Maritime           75

       libelle_region  id_filiere  geom  consototale
0           Grand Est         100   NaN      6483.00
1           Occitanie         100   NaN    337042.00
2           Grand Est         100   NaN   1522083.89
3           Occitanie         100   NaN   1597746.00
4  Nouvelle-Aquitaine         100   NaN   3610475.52

[5 rows x 30 columns]

Affichage du types des colonnes

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5592 entries, 0 to 5591
Data columns (total 30 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   operateur                     5592 non-null   object
 1   annee                         5592 non-null   int64
 2   filiere                       5592 non-null   object
 3   consoa                        5592 non-null   float64
 4   pdla                          5592 non-null   int64
 5   nombre_maille_secretisees_a   5592 non-null   int64
 6   indquala                      5592 non-null   float64
 7   consoi                        5592 non-null   float64
 8   pdli                          5592 non-null   int64
 9   nombre_maille_secretisees_i   5592 non-null   int64
 10  indquali                      5592 non-null   float64
 11  consot                        5592 non-null   float64
 12  pdlt                          5592 non-null   int64
 13  nombre_maille_secretisees_t   5592 non-null   int64
 14  indqualt                      5592 non-null   float64
 15  consor                        5592 non-null   float64
 16  pdlr                          5592 non-null   int64
 17  nombre_maille_secretisees_r   5592 non-null   int64
 18  indqualr                      5592 non-null   float64
 19  consona                       5592 non-null   float64
 20  pdlna                         5592 non-null   int64
 21  nombre_maille_secretisees_na  5592 non-null   int64
 22  indqualna                     5592 non-null   float64
 23  code_departement              5592 non-null   object
 24  libelle_departement           5592 non-null   object
 25  code_region                   5592 non-null   int64
 26  libelle_region                5592 non-null   object
 27  id_filiere                    5592 non-null   int64
 28  geom                          0 non-null      float64
 29  consototale                   5592 non-null   float64
dtypes: float64(12), int64(13), object(5)
memory usage: 1.3+ MB

In [18]:
print(df.dtypes)

operateur                        object
annee                             int64
filiere                          object
consoa                          float64
pdla                              int64
nombre_maille_secretisees_a       int64
indquala                        float64
consoi                          float64
pdli                              int64
nombre_maille_secretisees_i       int64
indquali                        float64
consot                          float64
pdlt                              int64
nombre_maille_secretisees_t       int64
indqualt                        float64
consor                          float64
pdlr                              int64
nombre_maille_secretisees_r       int64
indqualr                        float64
consona                         float64
pdlna                             int64
nombre_maille_secretisees_na      int64
indqualna                       float64
code_departement                 object
libelle_departement              object
code_region                       int64
libelle_region                   object
id_filiere                        int64
geom                            float64
consototale                     float64
dtype: object

In [19]:
df.describe()

,annee,consoa,pdla,nombre_maille_secretisees_a,indquala,consoi,pdli,nombre_maille_secretisees_i,indquali,consot,...,nombre_maille_secretisees_r,indqualr,consona,pdlna,nombre_maille_secretisees_na,indqualna,code_region,id_filiere,geom,consototale
count,5592.000000,5592.000000,5592.000000,5592.000000,5592.000000,5.592000e+03,5592.000000,5592.000000,5592.000000,5.592000e+03,...,5592.000000,5592.000000,5.592000e+03,5592.000000,5592.000000,5592.000000,5592.000000,5592.000000,0.0,5.592000e+03
mean,2016.338162,14512.841889,234.855508,13.733727,0.378793,6.710099e+05,428.995887,17.119099,0.667835,3.654946e+05,...,3.329220,0.329689,2.010227e+04,930.555258,17.505186,0.397016,55.450465,140.557940,NaN,1.756166e+06
std,3.063144,42027.799249,881.042503,51.224939,0.442250,1.954359e+06,1204.733523,58.143087,0.426127,7.180691e+05,...,7.024969,1.918612,1.170213e+05,10805.932820,63.732752,1.931864,25.733497,49.104773,NaN,2.878701e+06
min,2011.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,1.000000,100.000000,NaN,0.000000e+00
25%,2014.000000,0.000000,0.000000,0.000000,0.000000,1.086283e+04,2.000000,0.000000,0.000000,9.079250e+01,...,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,32.000000,100.000000,NaN,5.909300e+04
50%,2016.000000,0.000000,0.000000,0.000000,0.000000,2.245673e+05,17.000000,0.000000,0.952000,4.802100e+04,...,0.000000,0.098600,2.232715e+01,1.000000,0.000000,0.000000,53.000000,100.000000,NaN,6.250229e+05
75%,2019.000000,7973.537447,28.000000,0.000000,0.924000,6.624032e+05,287.250000,0.000000,1.000000,4.211409e+05,...,4.000000,0.500000,4.125069e+03,39.000000,0.000000,0.851000,76.000000,200.000000,NaN,2.230924e+06
max,2021.000000,467701.000000,8590.000000,462.000000,1.000000,2.909840e+07,40962.000000,607.000000,1.330000,8.066683e+06,...,75.000000,100.000000,2.708529e+06,448854.000000,853.000000,100.000000,94.000000,200.000000,NaN,2.909840e+07